services:
  postgres:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - app-network
    restart: unless-stopped

  backend:
    image: ghcr.io/kalanimus/film-react-nest-backend:latest
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    image: ghcr.io/kalanimus/film-react-nest-frontend:latest
    volumes:
      - frontend_dist:/usr/share/nginx/html
    restart: unless-stopped

  nginx:
    image: ghcr.io/kalanimus/film-react-nest-nginx:latest
    ports:
      - "80:80"
    volumes:
      - frontend_dist:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres_data:
  pgadmin_data:
  frontend_dist:

networks:
  app-network:
    driver: bridge
