services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: prac_film
      POSTGRES_USER: student
      POSTGRES_PASSWORD: student
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - app-network

  backend:
    image: ghcr.io/kalanimus/film-react-nest-backend:latest
    environment:
      DATABASE_DRIVER: postgresql
      DATABASE_URL: postgresql://student:student@postgres:5432/prac_film
      DATABASE_USERNAME: student
      DATABASE_PASSWORD: student
      LOGGER_TYPE: json
    depends_on:
      - postgres
    networks:
      - app-network

  frontend:
    image: ghcr.io/kalanimus/film-react-nest-frontend:latest
    volumes:
      - frontend_dist:/usr/share/nginx/html

  nginx:
    image: ghcr.io/kalanimus/film-react-nest-nginx:latest
    ports:
      - "80:80"
    volumes:
      - frontend_dist:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

volumes:
  postgres_data:
  pgadmin_data:
  frontend_dist:

networks:
  app-network:
    driver: bridge
